<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{template/layout}">
<head>
    <title>Danh sách nội quy</title>
</head>
<body>
<section layout:fragment="content">
    <main class='form-style-two rzvy-booking-detail-body'>
        <div class='container rzvy-booking-detail-block rzvy-center-block rzvy-main-block-before'>
            <div class='row'>
                <div class="col-lg-8">
                    <div class="rzvy-booking-detail-main">
                        <h2 class="fs-5">Danh sách nội quy</h2>

                        <div class="step-item remove_payment_according_services_showhide rzvy_hide_show_payment_according_services">
                            <div class="rzvy-container">
                                <div class="rzvy-radio-group-block-content step-item">
                                    <div class="whitebox">
                                        <div class="mb-3 row align-items-center rzvy-cart-lpoint-div" th:each="rule,itrStat : ${rules}">
                                            <div class="col-md-6 rzvy-cart-lpoint-label-main">
                                                <div class="form-check mb-0">
                                                    <label class="form-check-label" th:utext="${'+ ' + rule.ruleName + ' (Vi phạm phạt: 100.000 Đ)'}"></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</section>
</body>
</html>
