<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{template/layout}">
<head>
    <title>Thông báo</title>
</head>
<body>
<section layout:fragment="content">
    <main class='form-style-two rzvy-booking-detail-body'>
        <div class='container rzvy-booking-detail-block rzvy-center-block rzvy-main-block-before'>
            <div class='row'>
                <div class="col-lg-8">
                    <div class="rzvy-booking-detail-main">
                        <h2>Notify</h2>

                    </div>
                </div>
            </div>
        </div>
    </main>
</section>
</body>
</html>
