<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{template/layout}">
<head>
    <title>Thông báo</title>
</head>
<body>
<section layout:fragment="content">
    <main class="container content-top">
        <div class='row'>
            <div class="col-lg-8">
                <div class="rzvy-booking-detail-main">
                    <h2>Notify</h2>

                </div>
            </div>
        </div>
    </main>
</section>
</body>
</html>
