<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template/layout}">
<head>
    <title>Barber Shop</title>
</head>
<body>
<section layout:fragment="content">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-theme/0.1.0-beta.10/select2-bootstrap.min.css"
          rel="stylesheet"/>
    <main class='form-style-two rzvy-booking-detail-body'>
        <div class='container'>
            <div class='row form_cash'>
                <div class='col-lg-12' id="invoice_cash">
                    <div class=''>
                        <h2 class='text-center'>Đăng kí ứng lương</h2>
                        <div class='row'>
                            <div class='form-group col-md-12 select2-container--bootstrap'>
                                <label for='cash_amount'>Nhân viên</label>
                                <select class="form-control input-lg" id="staff_select2" style="width: 100%">
                                    <option th:each="staff,assistantStat : ${staffs}" th:value="${staff.id}"
                                            th:utext="${staff.fullName}"></option>
                                </select>
                            </div>
                            <div class='form-group col-md-12'>
                                <label for='cash_amount'>Số tiền</label>
                                <input type='text' class='form-control' id='cash_amount'
                                       name='cash_amount' placeholder='Nhập số tiền'>
                            </div>
                            <div class='form-group col-md-12'>
                                <label for='cash_description'>Nội dung</label>
                                <textarea class='form-control' id='cash_description'
                                          name='cash_description'
                                          placeholder='Nhập nội dung'></textarea>
                            </div>
                        </div>
                        <div class='row mt-2 mb-3'>
                            <div class='col-md-12'>
                                <button type='button' id='invoice_cash_btn'
                                        class='rzvy_register_btn btn btn-primary p-2 w-100'>
                                    Xuất hóa đơn
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</section>

<section layout:fragment="js">
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script th:src="@{/js/cash.js}"></script>
</section>
</body>
</html>