<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template/layout}">
<head>
    <title>Barber Shop</title>
</head>
<body>
<section layout:fragment="content">
    <main class="container content-top">
        <div class="card mb-3" sec:authorize="isAuthenticated()">
            <div class="card-header">
                <i class="fa fa-lock"></i>&nbsp;Thông tin cá nhân
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <form name="profile_form" id="profile_form" method="post">
                            <input type="hidden" id="admin-id-hidden" name="admin-id-hidden">
                            <div class="form-group row">
                                <div class="col-md-3">
                                    <div class="rzvy-image-upload">
                                        <div class="rzvy-image-preview">
                                            <div id="rzvy-image-upload-file-preview">
                                                <img width="100" height="100"
                                                     src="http://rezervy.perfecky.com/includes/images/default-avatar.jpg">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label class="control-label">Tên</label>
                                    <input class="form-control" id="profile_firstname" name="profile_firstname"
                                           type="text" th:value="${user.firstName}">
                                </div>
                                <div class="col-md-3">
                                    <label class="control-label">Họ</label>
                                    <input class="form-control" id="profile_lastname" name="profile_lastname"
                                           type="text" th:value="${user.lastName}">
                                </div>
                                <div class="col-md-3">
                                    <label class="control-label">Điện thoại</label>
                                    <input class="form-control" id="phone_lastname" name="phone_lastname" type="text"
                                           th:value="${user.phone}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-6">
                                    <label class="control-label">Email</label>
                                    <input class="form-control" id="profile_address" name="rofile_address" type="text"
                                           th:value="${user.email}">
                                </div>
                                <div class="col-md-6">
                                    <label class="control-label">Thành phố</label>
                                    <input class="form-control" id="profile_city" name="profile_city" type="text"
                                           value="Hà Nội">
                                </div>
                            </div>
                            <a class="btn btn-outline-primary btn-block update_profile_btn">Cập nhật thông tin</a>
                        </form>
                    </div>
                </div>
                <div class="card-footer small text-muted"></div>
            </div>
        </div>
    </main>
</section>
</body>
</html>
