<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template/layout}">
<head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
    <meta http-equiv='cache-control' content='no-cache'>
    <meta http-equiv='Pragma' content='no-cache'>
    <meta http-equiv='Expires' content='-1'>
    <title>Barber Shop</title>
</head>
<body>
<section layout:fragment="content">
    <main class="container content-top">
        <div class='row' sec:authorize="isAnonymous()">
            <a th:href='@{/login}'>
                <img th:src='@{/img/please-login.png}'/>
            </a>
        </div>

        <div class="row">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">URL</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="crawlUrl,crawlUrlStat : ${crawlUrls}">
                        <th scope="col" th:utext="${crawlUrl.crawlUrlId}"></th>
                        <td scope="col" th:utext="${crawlUrl.url}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>
</section>
<section layout:fragment="js">
    <script th:src="@{/js/index.js}"></script>
</section>
</body>
</html>