<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template/layout}">
<head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
    <meta http-equiv='cache-control' content='no-cache'>
    <meta http-equiv='Pragma' content='no-cache'>
    <meta http-equiv='Expires' content='-1'>
    <!--    <meta th:name="_csrf" th:content="${_csrf.token}"/>-->
    <!--    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>-->
    <link rel='shortcut icon' type='image/png' th:href="@{/img/favicon.ico}">

    <title>Barber Shop</title>

    <link th:href="@{/css/owl.carousel.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/front-style.css}" rel="stylesheet"/>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet'>
</head>
<body>
<section layout:fragment="content">
    <main class='form-style-two rzvy-booking-detail-body'>
        <div class='container rzvy-booking-detail-block rzvy-center-block rzvy-main-block-before'>
            <div class='row' sec:authorize="isAnonymous()">
                <a th:href='@{/login}'>
                    <img th:src='@{/img/please-login.png}'/>
                </a>
            </div>
            <div class='row' sec:authorize="hasRole('ROLE_ADMINISTRATOR') || hasRole('ROLE_MANAGER')">
                <div class="col-lg-8">
                    <div class="rzvy-booking-detail-main">
                        <!-- STAFF SECTION START -->
                        <div id="rzvy-staff-main">
                            <div class="step-item" th:each="service,itrStat : ${services}">
                                <h2 class="step-title " th:utext="${service.productServiceName}"></h2>
                                <h4 class="price" style="color: #797877"
                                    th:text="${#numbers.formatDecimal(service.price, 0, 'COMMA', 0, 'POINT') +' Đ'}"></h4>
                                <div class="services team">
                                    <div class="owl-carousel owl-loaded owl-drag" data-items="3" data-items-lg="2"
                                         data-items-md="2" data-items-sm="2" data-items-ssm="1" data-margin="24"
                                         data-nav="true" data-dots="true" autoplay="false" data-loop="false">
                                        <div class="owl-stage-outer">
                                            <div class="owl-stage">
                                                <div class="owl-item"
                                                     style="width:170px; margin-right: 10px; margin-bottom: 10px;"
                                                     th:each="assistant,assistantStat : ${assistants}">
                                                    <div class="item">
                                                        <figure class="staff"
                                                                th:staffId="${assistant.id}"
                                                                th:serviceId="${service.productServiceId}">
                                                            <figcaption>
                                                                <h3 th:utext="${assistant.fullName}"></h3>
                                                                <div class="rating">
                                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                                </div>
                                                                <div class="service-meta">
                                                                <span>
                                                                    <i class="fa fa-mobile"
                                                                       aria-hidden="true"></i>
                                                                    <a th:utext="${assistant.phone}"></a>
                                                                </span>
                                                                </div>
                                                            </figcaption>
                                                        </figure>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="owl-nav disabled">
                                            <button type="button" role="presentation" class="owl-prev disabled">
                                                <div class="slider-no-current"><span class="current-no">1</span><span
                                                        class="total-no">1</span></div>
                                                <span class="current-monials"></span></button>
                                            <button type="button" role="presentation" class="owl-next disabled">
                                                <div class="slider-no-next"></div>
                                                <span class="next-monials"></span></button>
                                        </div>
                                        <div class="owl-dots disabled">
                                            <button role="button" class="owl-dot active"><span></span></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="text" id="customer_phone"
                                       name="customer_phone"
                                       placeholder="Customer phone"
                                       class="form-control hidden_input">
                            </div>
                        </div>
                        <div class="forms rzvy-radio-group-block">
                            <button id="confirm" class="btn w-100 btn-success mt-md-5 mt-4">
                                <span class="fa fa-calendar-check-o"></span>&nbsp;&nbsp;Xac nhan
                            </button>
                            <button id="create_invoice_btn" class="btn w-100 btn-success mt-md-5 mt-4 hidden_btn">
                                <span class="fa fa-calendar-check-o"></span>&nbsp;&nbsp;Tao hoa don
                            </button>
                        </div>
                    </div>
                </div>
                <div class='col-lg-4 rzvy-sidebar'>
                    <div class='whitebox'>
                        <h4 class='widget-title'>Tóm tắt hóa đơn</h4>
                        <table class='table'>
                            <tbody>
                            <tr>
                                <td><i class='fa fa-refresh' aria-hidden='true'></i>&nbsp;MỘT LẦN</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td><i class='fa fa-bookmark' aria-hidden='true'></i>&nbsp;Làm tóc</font></font>
                                </td>
                                <td></td>
                            </tr>
                            <tr class='rzvy_subtotal_exit'>
                                <th>
                                    <i class='fa fa-tags' aria-hidden='true'></i>
                                    &nbsp;Tổng số:
                                </th>
                                <th class="total_amount">
                                    225,00
                                </th>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>
</section>
<section layout:fragment="js">

    <script>
        let staffService = new Map();
        $(document).ready(function () {
            $(document).on('click', '.staff', function () {
                let staff = $(this);

                const staffId = staff.attr('staffId');
                const serviceId = staff.attr('serviceId');
                staffService.set(serviceId, staffId);

                console.log('staffService ===> :' + JSON.stringify(Object.fromEntries(staffService)));
                staff.parent().parent().siblings().removeClass('staff-active');
                staff.toggleClass('staff-active');
            });

            $(document).on('click', '#confirm', function () {
                $(this).toggleClass('hidden_btn');
                $('#create_invoice_btn').removeClass('hidden_btn');
                $('#customer_phone').removeClass('hidden_input');
            });
            $(document).on('click', '#create_invoice_btn', function () {
                // const token = $("meta[name='_csrf']").attr("content");
                // const header = $("meta[name='_csrf_header']").attr("content");

                const totalAmount = $('#total_amount').attr('data-amount');
                const customerPhone = $('#customer_phone').val();
                let staffServiceStr = '';
                staffService.forEach((value, key) => {
                    staffServiceStr += key + '-' + value + ',';
                })
                if (staffServiceStr) {
                    $.ajax({
                        type: 'post',
                        data: JSON.stringify({
                            'strServiceStaff': staffServiceStr,
                            'customerPhone': customerPhone,
                            'totalAmountPayment': totalAmount
                        }),
                        contentType: 'application/json; charset=utf-8',
                        url: "/backend/invoice",
                        success: function (data, textStatus, xhr) {
                            staffService.clear();
                            if (xhr.status === 200) {
                                $.toaster({ priority : 'success', message : 'Tạo hóa đơn thành công.' });
                            } else {
                                $.toaster({ priority : 'danger', message : 'Tạo hóa đơn thất bại!' });
                            }
                        }
                    });
                } else {
                    $.toaster({ priority : 'danger', message : 'Bạn chưa chọn dịch vụ hoặc sản phẩm nào!' });
                }

            });
        });
    </script>
</section>
</body>
</html>