<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template/layout}">
<head>
    <title>Barber Shop</title>
</head>
<body>
<section layout:fragment="content">
    <main class='form-style-two rzvy-booking-detail-body'>
        <div class='container rzvy-booking-detail-block rzvy-center-block rzvy-main-block-before'>
            <div class="content">
                <div class="service">
                    <h2 class="step-title">Chọn nhân viên</h2>
                    <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-6 g-4">
                        <div class="col staff" th:each="assistant,assistantStat : ${assistants}"
                             th:staffId="${assistant.id}">
                            <div class="card text-center">
                                <div class="card-body">
                                    <h6 th:utext="${assistant.fullName}"></h6>
                                    <span>
                                        <i class="fa fa-mobile"></i>
                                        <span th:utext="${assistant.phone}"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class='row' id="search_filter" style="margin-top: 50px">
                <div class='col-lg-12'>
                    <div class="btn-group shadow-0" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-outline-primary" data-mdb-color="dark">Trong ngày</button>
                        <button type="button" class="btn btn-outline-primary" data-mdb-color="dark">Trong tháng</button>
                    </div>
                </div>
            </div>
            <div class='row' id="result">

            </div>
        </div>
    </main>
</section>

<section layout:fragment="js">
    <script th:src="@{/js/invoice.js}"></script>
</section>
</body>
</html>
