<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<meta charset="utf-8">
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
    <meta http-equiv='cache-control' content='no-cache'>
    <meta http-equiv='Pragma' content='no-cache'>
    <meta http-equiv='Expires' content='-1'>
    <title>Barber Shop</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Mobile Specific Meta -->
    <!--    <meta th:name="_csrf" th:content="${_csrf.token}"/>-->
    <!--    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>-->
    <link rel='shortcut icon' type='image/png' th:href="@{/img/favicon.ico}">
    <link th:href="@{/css/owl.carousel.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/front-style.css}" rel="stylesheet"/>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet'>
</head>
<body>
<section layout:fragment="header">
    <header class='header'>
        <div class='container'>
            <a th:href='@{/}' class='rzvy-brand'>
                <img th:src='@{/img/logo.png}'/>
            </a>

            <a href="javascript:void(0);" class="hamburger"
               onclick="$(&#39;.header &gt; .container &gt; ul&#39;).slideToggle();"><span></span></a>
            <ul>
                <li sec:authorize="hasRole('ROLE_ADMINISTRATOR') || hasRole('ROLE_MANAGER')">
                    <a th:href='@{/backend/invoice}'>
                        <i class="fa fa-file-text" aria-hidden="true"></i>
                        &nbsp;Danh sách hoá đơn</a>
                </li>
                <li sec:authorize="hasRole('ROLE_ADMINISTRATOR') || hasRole('ROLE_MANAGER')">
                    <a th:href='@{/statistic}'>
                        <i class="fa fa-user-plus" aria-hidden="true"></i>
                        &nbsp;Thống kê</a>
                </li>
                <li sec:authorize="isAuthenticated()">
                    <a th:href='@{/rules}'>
                        <i class="fa fa-gavel" aria-hidden="true"></i>&nbsp;Nội quy</a>
                </li>
                <li sec:authorize="isAuthenticated()">
                    <a th:href='@{/users/cash-advance}'>
                        <i class="fa fa-money" aria-hidden="true"></i>&nbsp;Ứng tiền</a>
                </li>
                <li sec:authorize="isAuthenticated()">
                    <a th:href='@{/users/holiday}'>
                        <i class="fa fa-birthday-cake" aria-hidden="true"></i>&nbsp;Nghỉ phép</a>
                </li>
                <li sec:authorize="hasRole('ROLE_ADMINISTRATOR')" style="text-align: center">
                    <a href="#"><i class="fa fa-bell-o" aria-hidden="true"></i></a>
                </li>
                <li sec:authorize="isAuthenticated()">
                    <a class="user-avatar" th:href='@{/users/account-info}' sec:authentication="principal.username"></a>
                </li>
                <li sec:authorize="isAuthenticated()" class="logout">
                    <a th:href='@{/logout}'>
                        <i class="fa fa-fw fa-sign-out" aria-hidden="true"></i> Đăng xuất
                    </a>
                </li>
                <li sec:authorize="isAnonymous()">
                    <a th:href='@{/login}'><i class='fa fa-sign-in' aria-hidden='true'></i>&nbsp;&nbsp;Đăng nhập</a>
                </li>
                <li sec:authorize="isAnonymous()">
                    <a th:href='@{/register}'>
                        <i class='fa fa-user-plus' aria-hidden='true'></i>&nbsp;&nbsp;Đăng kí</a>
                </li>
            </ul>
        </div>
    </header>
</section>
<section layout:fragment="content"></section>
<footer layout:fragment="footer">
    <div class="container">
        <div class="footer-bottom row align-items-center">
            <p class="footer-text m-0 col-lg-8 col-md-12">
                Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved</p>
        </div>
    </div>
</footer>
<script th:src="@{/js/jquery-3.2.1.min.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/rzvy-common-front.js}"></script>
<script th:src="@{/js/rzvyconcent.js}"></script>

<script>
    let staffService = new Map();
    $(document).ready(function () {
        $(document).on('click', '.staff', function () {
            let staff = $(this);

            const staffId = staff.attr('staffId');
            const serviceId = staff.attr('serviceId');
            staffService.set(serviceId, staffId);

            console.log('staffService ===> :' + JSON.stringify(Object.fromEntries(staffService)));
            staff.parent().parent().siblings().removeClass('staff-active');
            staff.toggleClass('staff-active');
        });

        $(document).on('click', '#confirm', function () {
            $(this).toggleClass('hidden_btn');
            $('#create_invoice_btn').removeClass('hidden_btn');
            $('#customer_phone').removeClass('hidden_input');
        });
        $(document).on('click', '#create_invoice_btn', function () {
            // const token = $("meta[name='_csrf']").attr("content");
            // const header = $("meta[name='_csrf_header']").attr("content");

            const totalAmount = $('#total_amount').attr('data-amount');
            const customerPhone = $('#customer_phone').val();
            let staffServiceStr = '';
            staffService.forEach((value, key) => {
                staffServiceStr += key + '-' + value + ',';
            })
            $.ajax({
                type: 'post',
                data: JSON.stringify({
                    'strServiceStaff': staffServiceStr,
                    'customerPhone': customerPhone,
                    'totalAmountPayment': totalAmount
                }),
                contentType: 'application/json; charset=utf-8',
                url: "/admin/invoice",
                success: function (data, textStatus, xhr) {
                    staffService.clear();
                    if (xhr.status === 200) {
                        $('.alert-success').removeClass('hidden_alert');
                    } else {
                        $('.alert-danger').removeClass('hidden_alert');
                    }
                }
            });
        });
    });
</script>
<section layout:fragment="js"></section>
</body>
</html>
